h1 {
	color: #00008a;
	text-align: center;
	font-family: 'playball';
}

p {
	font-family: 'quicksand';
	text-align: center;
}

#bg { 
	position: fixed; 
	top: -25%;
	left: 0;
	min-height: 100%;
	min-width: 100%;
	opacity: 0.4;
}

#bg img {
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	min-width: 50%;
	min-height: 50%;
}

li {
	text-decoration: none;
	display: block;
	margin: 45px;
	font-size: 20px;
	color: #00008A;
	font-family: 'playball';
}

#raceButton {
	border:3px solid black;
	margin: 0 auto;
	margin-top: 175px; 
	border-radius: 6px;
	cursor: pointer;
	text-align: center;
}

#hamilton {
	border: 2px solid #000;
	padding: 4px;
	margin: 4px;
	border-radius: 6px;
	background: #666;
	position: relative;
	top: 50px;
	left: 0px;
}

#rosberg {
	border: 2px solid #000;
	padding: 4px;
	margin: 4px;
	border-radius: 6px;
	background: #666;
	position: relative;
	top: 50px;
	left: 0px;
}

#bottas {
	border: 2px solid #000;
	padding: 4px;
	margin: 4px;
	border-radius: 6px;
	background: #666;
	position: relative;
	top: 50px;
	left: 0px;
}

#grosjean {
	border: 2px solid #000;
	padding: 4px;
	margin: 4px;
	border-radius: 6px;
	background: #666;	
	position: relative;
	top: 50px;
	left: 0px;
} 

